<!DOCTYPE html>
<html>
<head>
	<title>WEB Dimensionnement EPC 4G</title>
	<link rel="stylesheet" type="text/css" href="static/style.css">
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">  

</head>
    <body>
        
        <header>
            <div class="main">
                <ul>
                <li class="active"><a href="/"><i class="fa fa-home"></i>Accueil</a></li>
                <li><a href="/configuration">Configuration des Valeurs d'Entrées</a></li>
                </ul>
            </div>
        </header>
        <div  class="title">
            <h1><marquee>Outil de Dimensionnement EPC 4G</marquee></h1>
        </div>
    </body>
</html>